# Entorno virtual
venv/
ENV/
env/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite
*.db
*.sqlite3

# Archivos temporales
*.log
*.tmp

# VS Code
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db
